  GNU nano 6.2                       .gitignore                                 

# Build output
dist/
build/
out/

# IDE files
.vscode/
.idea/

# Coverage reports
coverage/

# C extensions
*.so

# Distribution / packaging
.Python
venv/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.cache

#env
.env
.env.local
.flaskenv

# Pycache
__pycache__/
